# .hgrc

[ui]
username = XXNAME <XXEMAIL>
editor = vim

[extensions]
largefiles = 
color =

[web]
allow_archive = gz zip

[largefiles]
patterns = *.{png,jpg,tiff,svg,pdf,gz,zip,tar} tarfiles/*

